.path {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    /*animation;*/
}


#chimPath1 {
    animation: chimDash1 35s ease infinite;
}


#chimPath2 {
    animation: chimDash2 35s ease infinite;
}

#chimPath3 {
    animation: chimDash3 35s linear infinite;
}

#chimPath4 {
    animation: chimDash4 35s ease infinite;
}

#chimPath5 {
    animation: chimDash5 35s linear infinite;
}

#chimPath6 {
    animation: chimDash6 35s ease infinite;
}

#chimPath7 {
    animation: chimDash7 35s linear infinite;
}

#chimPath8 {
    animation: chimDash8 35s ease infinite;
}

#chimPath9 {
    animation: chimDash9 35s ease infinite;
}

#chimPath10 {
    animation: chimDash10 35s linear infinite;
}

#chimPath11 {
    animation: chimDash11 35s ease infinite;
}

#chimPath12 {
    animation: chimDash12 35s linear infinite;
}

#chimPath13 {
    animation: chimDash13 35s ease infinite;
}

#chimPath14 {
    animation: chimDash14 35s ease infinite;
}

#chimPath15 {
    animation: chimDash15 35s ease infinite;
}

#chimPath16 {
    animation: chimDash16 35s linear infinite;
}

#chimPath17 {
    animation: chimDash17 35s ease infinite;
}

#chimPath18 {
    animation: chimDash18 35s ease infinite;
}

#chimPath19 {
    animation: chimDash19 35s ease infinite;
}

#chimPath20 {
    animation: chimDash20 35s ease infinite;
}
#chimPath21 {
    animation: chimDash21 35s ease infinite;
}
#chimPath22 {
    animation: chimDash22 35s ease infinite;
}
#chimPath23 {
    animation: chimDash23 35s ease infinite;
}
#chimPath24 {
    animation: chimDash24 35s ease infinite;
}
#chimPath25 {
    animation: chimDash25 35s ease infinite;
}
#chimPath26 {
    animation: chimDash26 35s ease infinite;
}
#chimPath27 {
    animation: chimDash27 35s ease infinite;
}
#chimPath28 {
    animation: chimDash28 35s ease infinite;
}
#chimPath29 {
    animation: chimDash29 35s ease infinite;
}
#chimPath30 {
    animation: chimDash30 35s ease infinite;
}
#chimPath31 {
    animation: chimDash31 35s ease infinite;
}
#chimPath32 {
    animation: chimDash32 35s ease infinite;
}
#chimPath33 {
    animation: chimDash33 35s ease infinite;
}
#chimPath34 {
    animation: chimDash34 35s ease infinite;
}
#chimPath35 {
    animation: chimDash35 35s ease infinite;
}
#chimPath36 {
    animation: chimDash36 35s ease infinite;
}
#chimPath37 {
    animation: chimDash37 35s ease infinite;
}
#chimPath38 {
    animation: chimDash38 35s ease infinite;
}
#chimPath39 {
    animation: chimDash39 35s ease infinite;
}
#chimPath40 {
    animation: chimDash40 35s ease infinite;
}
#chimPath41 {
    animation: chimDash41 35s ease infinite;
}
#chimPath42 {
    animation: chimDash42 35s ease infinite;
}
#chimPath43 {
    animation: chimDash43 35s ease infinite;
}
#chimPath44 {
    animation: chimDash44 35s ease infinite;
}
#chimPath45 {
    animation: chimDash45 35s ease infinite;
}
#chimPath46 {
    animation: chimDash46 35s ease infinite;
}
#chimPath47 {
    animation: chimDash47 35s ease infinite;
}

@keyframes chimDash1 {
    from {
        stroke-dashoffset: 2000;
    }
    24% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash2 {
    from {
        stroke-dashoffset: 2000;
    }
    3% {
        stroke-dashoffset: 2000;
    }
    25% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash3 {
    from {
        stroke-dashoffset: 2000;
    }
    6% {
        stroke-dashoffset: 2000;
    }
    38% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash4 {
    from {
        stroke-dashoffset: 2000;
    }
    9% {
        stroke-dashoffset: 2000;
    }
    37% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}


@keyframes chimDash5 {
    from {
        stroke-dashoffset: 2000;
    }
    10% {
        stroke-dashoffset: 2000;
    }
    38% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash6 {
    from {
        stroke-dashoffset: 2000;
    }
    11% {
        stroke-dashoffset: 2000;
    }
    45% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash7 {
    from {
        stroke-dashoffset: 2000;
    }
    14% {
        stroke-dashoffset: 2000;
    }
    40% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash8 {
    from {
        stroke-dashoffset: 2000;
    }
    15% {
        stroke-dashoffset: 2000;
    }
    42% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash9 {
    from {
        stroke-dashoffset: 2000;
    }
    16% {
        stroke-dashoffset: 2000;
    }
    44% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash10 {
    from {
        stroke-dashoffset: 2000;
    }
    18% {
        stroke-dashoffset: 2000;
    }
    45% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash11 {
    from {
        stroke-dashoffset: 2000;
    }
    22% {
        stroke-dashoffset: 2000;
    }
    29% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash12 {
    from {
        stroke-dashoffset: 2000;
    }
    23% {
        stroke-dashoffset: 2000;
    }
    30% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash13 {
    from {
        stroke-dashoffset: 2000;
    }
    24% {
        stroke-dashoffset: 2000;
    }
    48% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash14 {
    from {
        stroke-dashoffset: 2000;
    }
    27% {
        stroke-dashoffset: 2000;
    }
    53% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash15 {
    from {
        stroke-dashoffset: 2000;
    }
    30% {
        stroke-dashoffset: 2000;
    }
    58% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash16 {
    from {
        stroke-dashoffset: 2000;
    }
    33% {
        stroke-dashoffset: 2000;
    }
    66% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash17 {
    from {
        stroke-dashoffset: 2000;
    }
    34% {
        stroke-dashoffset: 2000;
    }
    68% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash18 {
    from {
        stroke-dashoffset: 2000;
    }
    38% {
        stroke-dashoffset: 2000;
    }
    57% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash19 {
    from {
        stroke-dashoffset: 2000;
    }
    39% {
        stroke-dashoffset: 2000;
    }
    58% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash20 {
    from {
        stroke-dashoffset: 2000;
    }
    41% {
        stroke-dashoffset: 2000;
    }
    66% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}


@keyframes chimDash21 {
    from {
        stroke-dashoffset: 2000;
    }
    42% {
        stroke-dashoffset: 2000;
    }
    68% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash22 {
    from {
        stroke-dashoffset: 2000;
    }
    43% {
        stroke-dashoffset: 2000;
    }
    69% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash23 {
    from {
        stroke-dashoffset: 2000;
    }
    45% {
        stroke-dashoffset: 2000;
    }
    70% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash24 {
     from {
         stroke-dashoffset: 2000;
     }
     47% {
         stroke-dashoffset: 2000;
     }
     73% {
         stroke-dashoffset: 0;
     }
     to {
         stroke-dashoffset: 0;
     }
}

@keyframes chimDash25 {
    from {
        stroke-dashoffset: 2000;
    }
    48% {
        stroke-dashoffset: 2000;
    }
    74% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash26 {
    from {
        stroke-dashoffset: 2000;
    }
    49% {
        stroke-dashoffset: 2000;
    }
    75% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}




@keyframes chimDash27 {
    from {
        stroke-dashoffset: 2000;
    }
    52% {
        stroke-dashoffset: 2000;
    }
    69% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes chimDash28 {
    from {
        stroke-dashoffset: 2000;
    }
    53% {
        stroke-dashoffset: 2000;
    }
    70% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes chimDash29 {
    from {
        stroke-dashoffset: 2000;
    }
    55% {
        stroke-dashoffset: 2000;
    }
    77% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes chimDash30 {
    from {
        stroke-dashoffset: 2000;
    }
    57% {
        stroke-dashoffset: 2000;
    }
    72% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes chimDash31 {
    from {
        stroke-dashoffset: 2000;
    }
    59% {
        stroke-dashoffset: 2000;
    }
    74% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash32 {
    from {
        stroke-dashoffset: 2000;
    }
    62% {
        stroke-dashoffset: 2000;
    }
    71% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash33 {
    from {
        stroke-dashoffset: 2000;
    }
    63% {
        stroke-dashoffset: 2000;
    }
    72% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash34 {
    from {
        stroke-dashoffset: 2000;
    }
    64% {
        stroke-dashoffset: 2000;
    }
    87% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes chimDash35 {
    from {
        stroke-dashoffset: 2000;
    }
    66% {
        stroke-dashoffset: 2000;
    }
    87% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes chimDash36 {
    from {
        stroke-dashoffset: 2000;
    }
    68% {
        stroke-dashoffset: 2000;
    }
    89% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes chimDash37 {
    from {
        stroke-dashoffset: 2000;
    }
    70% {
        stroke-dashoffset: 2000;
    }
    86% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes chimDash41 {
    from {
        stroke-dashoffset: 2000;
    }
    72% {
        stroke-dashoffset: 2000;
    }
    95% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes chimDash42 {
    from {
        stroke-dashoffset: 2000;
    }
    74% {
        stroke-dashoffset: 2000;
    }
    97% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes chimDash43 {
    from {
        stroke-dashoffset: 2000;
    }
    76% {
        stroke-dashoffset: 2000;
    }
    97% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes chimDash44 {
    from {
        stroke-dashoffset: 2000;
    }
    78% {
        stroke-dashoffset: 2000;
    }
    100% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes chimDash45 {
    from {
        stroke-dashoffset: 2000;
    }
    80% {
        stroke-dashoffset: 2000;
    }
    102% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes chimDash46 {
    from {
        stroke-dashoffset: 2000;
    }
    82% {
        stroke-dashoffset: 2000;
    }
    104% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes chimDash47 {
    from {
        stroke-dashoffset: 2000;
    }
    84% {
        stroke-dashoffset: 2000;
    }
    106% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes chimDash38 {
    from {
        stroke-dashoffset: 2000;
    }
    86% {
        stroke-dashoffset: 2000;
    }
    106% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes chimDash39 {
    from {
        stroke-dashoffset: 2000;
    }
    87% {
        stroke-dashoffset: 2000;
    }
    106% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes chimDash40 {
    from {
        stroke-dashoffset: 2000;
    }
    88% {
        stroke-dashoffset: 2000;
    }
    106% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}