.path {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    /*animation;*/
}


#litPath1 {
    animation: litDash1 30s ease infinite, del infinite;
}


#litPath2 {
    animation: litDash2 30s ease infinite, del infinite;
}

#litPath3 {
    animation: litDash3 30s ease infinite, del infinite;
}

#litPath4 {
    animation: litDash4 30s ease infinite, del infinite;
}

#litPath5 {
    animation: litDash5 30s ease infinite, del infinite;
}

#litPath6 {
    animation: litDash6 30s ease infinite, del infinite;
}

#litPath7 {
    animation: litDash7 30s ease infinite, del infinite;
}

#litPath8 {
    animation: litDash8 30s ease infinite, del infinite;
}

#litPath9 {
    animation: litDash9 30s ease infinite, del infinite;
}

#litPath10 {
    animation: litDash10 30s linear infinite, del infinite;
}

#litPath11 {
    animation: litDash11 30s ease infinite, del infinite;
}

#litPath12 {
    animation: litDash12 30s linear infinite, del infinite;
}

#litPath13 {
    animation: litDash13 30s ease infinite, del infinite;
}

#litPath14 {
    animation: litDash14 30s ease infinite, del infinite;
}

#litPath15 {
    animation: litDash15 30s ease infinite, del infinite;
}

#litPath16 {
    animation: litDash16 30s ease infinite, del infinite;
}

#litPath17 {
    animation: litDash17 30s ease infinite, del infinite;
}

#litPath18 {
    animation: litDash18 30s ease infinite, del infinite;
}

#litPath19 {
    animation: litDash19 30s ease infinite, del infinite;
}

#litPath20 {
    animation: litDash20 30s ease infinite, del infinite;
}

#litPath21 {
    animation: litDash21 30s ease infinite, del infinite;
}

#litPath22 {
    animation: litDash22 30s ease infinite, del infinite;
}

#litPath23 {
    animation: litDash23 30s ease infinite, del infinite;
}

#litPath24 {
    animation: litDash24 30s ease infinite, del infinite;
}

#litPath25 {
    animation: litDash25 30s ease infinite, del infinite;
}

#litPath26 {
    animation: litDash26 30s linear infinite, del infinite;
}

#litPath27 {
    animation: litDash27 30s ease infinite, del infinite;
}

#litPath28 {
    animation: litDash28 30s ease infinite, del infinite;
}


@keyframes litDash1 {
    from {
        stroke-dashoffset: 2000;
    }
    10% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes litDash2 {
    from {
        stroke-dashoffset: 2000;
    }
    2.5% {
        stroke-dashoffset: 2000;
    }
    11% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes litDash3 {
    from {
        stroke-dashoffset: 2000;
    }
    5% {
        stroke-dashoffset: 2000;
    }
    15% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes litDash4 {
    from {
        stroke-dashoffset: 2000;
    }
    7% {
        stroke-dashoffset: 2000;
    }
    24% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}


@keyframes litDash5 {
    from {
        stroke-dashoffset: 2000;
    }
    10% {
        stroke-dashoffset: 2000;
    }
    28% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes litDash6 {
    from {
        stroke-dashoffset: 2000;
    }
    13% {
        stroke-dashoffset: 2000;
    }
    25% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes litDash7 {
    from {
        stroke-dashoffset: 2000;
    }
    15% {
        stroke-dashoffset: 2000;
    }
    45% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes litDash8 {
    from {
        stroke-dashoffset: 2000;
    }
    19% {
        stroke-dashoffset: 2000;
    }
    45% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes litDash9 {
    from {
        stroke-dashoffset: 2000;
    }
    23% {
        stroke-dashoffset: 2000;
    }
    47% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes litDash10 {
    from {
        stroke-dashoffset: 2000;
    }
    26% {
        stroke-dashoffset: 2000;
    }
    55% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes litDash11 {
    from {
        stroke-dashoffset: 2000;
    }
    32% {
        stroke-dashoffset: 2000;
    }
    42% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes litDash12 {
    from {
        stroke-dashoffset: 2000;
    }
    35% {
        stroke-dashoffset: 2000;
    }
    70% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes litDash13 {
    from {
        stroke-dashoffset: 2000;
    }
    47% {
        stroke-dashoffset: 2000;
    }
    65% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes litDash14 {
    from {
        stroke-dashoffset: 2000;
    }
    49% {
        stroke-dashoffset: 2000;
    }
    67% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes litDash15 {
    from {
        stroke-dashoffset: 2000;
    }
    51% {
        stroke-dashoffset: 2000;
    }
    68% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes litDash16 {
    from {
        stroke-dashoffset: 2000;
    }
    52% {
        stroke-dashoffset: 2000;
    }
    55% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes litDash17 {
    from {
        stroke-dashoffset: 2000;
    }
    54% {
        stroke-dashoffset: 2000;
    }
    57% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes litDash18 {
    from {
        stroke-dashoffset: 2000;
    }
    56% {
        stroke-dashoffset: 2000;
    }
    57% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes litDash19 {
    from {
        stroke-dashoffset: 2000;
    }
    60% {
        stroke-dashoffset: 2000;
    }
    83% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes litDash20 {
    from {
        stroke-dashoffset: 2000;
    }
    63% {
        stroke-dashoffset: 2000;
    }
    87% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes litDash21 {
    from {
        stroke-dashoffset: 2000;
    }
    66% {
        stroke-dashoffset: 2000;
    }
    91% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes litDash22 {
    from {
        stroke-dashoffset: 2000;
    }
    69% {
        stroke-dashoffset: 2000;
    }
    83% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes litDash23 {
    from {
        stroke-dashoffset: 2000;
    }
    71% {
        stroke-dashoffset: 2000;
    }
    87% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes litDash24 {
    from {
        stroke-dashoffset: 2000;
    }
    72% {
        stroke-dashoffset: 2000;
    }
    87% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes litDash25 {
    from {
        stroke-dashoffset: 2000;
    }
    74% {
        stroke-dashoffset: 2000;
    }
    87% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes litDash26 {
    from {
        stroke-dashoffset: 2000;
    }
    76% {
        stroke-dashoffset: 2000;
    }
    98% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes litDash27 {
    from {
        stroke-dashoffset: 2000;
    }
    79% {
        stroke-dashoffset: 2000;
    }
    92% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}



@keyframes del {
    from {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    91% {
        opacity: 0;
    }
}