.path {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    /*animation;*/
}


#path1 {
    animation: dash1 10s ease infinite, del infinite;
}


#path2 {
    animation: dash2 10s ease infinite, del infinite;
}

#path3 {
    animation: dash3 10s ease infinite, del infinite;
}

#path4 {
    animation: dash4 10s ease infinite, del infinite;
}

#path5 {
    animation: dash5 10s ease infinite, del infinite;
}

#path6 {
    animation: dash6 10s ease infinite, del infinite;
}

#path7 {
    animation: dash7 10s ease infinite, del infinite;
}

#path8 {
    animation: dash8 10s ease infinite, del infinite;
}

@keyframes dash1 {
    from {
        stroke-dashoffset: 2000;
    }
    65% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash2 {
    from {
        stroke-dashoffset: 2000;
    }
    15% {
        stroke-dashoffset: 2000;
    }
    40% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash3 {
    from {
        stroke-dashoffset: 2000;
    }
    20% {
        stroke-dashoffset: 2000;
    }
    35% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash4 {
    from {
        stroke-dashoffset: 2000;
    }
    25% {
        stroke-dashoffset: 2000;
    }
    75% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash4 {
    from {
        stroke-dashoffset: 2000;
    }
    25% {
        stroke-dashoffset: 2000;
    }
    75% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash5 {
    from {
        stroke-dashoffset: 2000;
    }
    35% {
        stroke-dashoffset: 2000;
    }
    75% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash6 {
    from {
        stroke-dashoffset: 2000;
    }
    40% {
        stroke-dashoffset: 2000;
    }
    75% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash7 {
    from {
        stroke-dashoffset: 2000;
    }
    45% {
        stroke-dashoffset: 2000;
    }
    90% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash8 {
    from {
        stroke-dashoffset: 2000;
    }
    55% {
        stroke-dashoffset: 2000;
    }
    90% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}


@keyframes del {
    from {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    91% {
        opacity: 0;
    }
}